* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

/* ================== Responsive for Mobile ================== */
@media (max-width: 546px) {

  h1 {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
  }

  .choices {
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }

  .choice {
    height: 120px;
    width: 120px;
  }

  img {
    height: 105px;
    width: 105px;
  }

  .score-board {
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 2.5rem;
  }

  .msg-container {
    margin-top: 3rem;
    padding: 0 1rem;
  }

  #msg {
    font-size: 1.2rem;
    display: block;
  }
}

